<%- include('../partials/html_start.ejs') %>

  <div class="container-fluid product_page mx-5">

    <h1>Edit Products Page</h1>

    <form class="editProduct" product_id="<%=product._id%>">
      <div class="form-group">
        <label for="productCode">Product Code</label>
        <input type="string" class="form-control" id="productCode" placeholder="Enter the product code"
          value="<%= product.code %> ">
      </div>

      <div class="form-group">
        <label for="productName">Product Name</label>
        <input type="text" class="form-control" id="productName" placeholder="Enter product name"
          value="<%= product.name %> ">
      </div>

      <div class="form-group">
        <label for="productValue">Value per Unit</label>
        <div class="input-group">
          <div class="input-group-addon"> £ </div>
          <input type="string" class="form-control" id="productValue" placeholder="Enter product value per unit"
            onkeypress="return isNumberKey(event)" value="<%= product.value %> ">
        </div>
      </div>

      <div class="form-group">
        <label for="supplierName">Supplier Name</label>
        <input type="text" class="form-control" id="supplierName" placeholder="Enter supplier's name"
          value="<%= product.supplierName %> ">
      </div>

      <div class="form-group">
        <label for="productColor">Product Color</label>
        <input type="text" class="form-control" id="productColor" placeholder="Enter color of the product"
          value="<%= product.color %> ">
      </div>

      <div class="form-group">
        <label for="productSizeUnit">Product Size</label>
        <div class="d-flex">
          <select value="<%= product.sizeUnit %>" id="productSizeUnit">
            <option value="<%= product.sizeUnit %>" selected></option>
            <option id="milimeters" value="milimeters">milimeters</option>
            <option id="meters" value="meters">meters</option>
            <option id="centimeters" value="centimeters">centimeters</option>
            <option id="inches" value="inches">inches</option>
            <option id="feet" value="feet">feet</option>
          </select>

          <input type="text" class="form-control" id="productSizeWidth" placeholder="Enter width of the product"
            value="<%= product.sizeWidth %> ">
          <input type="text" class="form-control" id="productSizeHeight" placeholder="Enter height of the product"
            value="<%= product.sizeHeight %> ">
        </div>
      </div>

      <button type="submit" class="submit_btn">Submit</button>

    </form>

  </div>

  <script>
    // $(document).ready

    $('.editProduct').submit(function (e) {
      e.preventDefault();
      var productId = $(this).attr("product_id")
      var productCode = $('#productCode').val()
      var productName = $('#productName').val()
      var productValue = $('#productValue').val()
      var supplierName = $('#supplierName').val()
      var productColor = $('#productColor').val()
      var productSizeUnit = $('#productSizeUnit').val()
      var productSizeWidth = $('#productSizeWidth').val()
      var productSizeHeight = $('#productSizeHeight').val()


      //empty field validation
      if (($('#productCode').val() == '') || ($('#productName').val() == '') || ($('#productValue').val() == '') || ($('#supplierName').val() == '')) {
        alert("ERROR: Empty field(s).");
      }

      else {
        confirm("Confirm changes?")

        $.ajax(
          {
            url: "/admin/editproductpost",
            type: "POST",
            dataType: "json",
            data: {
              id: productId,
              code: productCode,
              name: productName,
              value: productValue,
              supplierName: supplierName,
              color: productColor,
              sizeUnit: productSizeUnit,
              sizeWidth: productSizeWidth,
              sizeHeight: productSizeHeight,
            },
            success: function (data) {
              console.log('data: ', data);
              if (data.status === "success") {
                alert('Product updated!')
                setTimeout(() => {
                  window.location.href = "/admin/products/";
                }, 1000);

              } else {
                iziToast.warning({
                  title: 'Error',
                  message: 'There was an error. Try again!',
                });
              }
            }
          })
      }
    })

  </script>

  <%- include('../partials/html_end.ejs') %>