<%- include('./partials/html_start.ejs') %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <a class="login" href="/auth/admin/login">Admin Login</a>
  <br>
  <a class="login" href="/auth/retail/login">Retail Login</a>
  <br>
  <a class="login" href="/auth/trade/login">Trade Login</a>
  <br>
  <a class="signup" href="/auth/retail/signup">Sign up Retail User</a>
  <br>
  <a class="signup" href="/auth/trade/signup">Sign up Trade User</a>
  <br>

  <% for(let i = 0; i<10; i++){ %>
    <p>hello <%= i %> </p>

  <%  }%>


  <%- include('./partials/html_end.ejs') %>


  