<%- include('../partials/html_start.ejs') %>
    <a href="/retail/createProject" class="create_program float-right">
        Create Project
    </a>
    <div class="mt-1">
        <% if (projects != null) { %>
            <% projects.forEach(project=> { %>
                <div class="p-2" project_id="<%=project._id%>" style="background-color: yellow; width: 100px;">
                    <p><b>Name:</b>
                        <%= project.name %>
                    </p>
                    <p><b>Style:</b>
                        <%= project.style %>
                    </p>
                    <a href="/retail/updateProject/<%= project._id %>/">Edit</a>
                    <a href="#" class="delete_btn">Delete</a>
                </div>
            <% }) %>

        <% }else { %>
                <h1>No Projects created</h1>
        <% } %>

    </div>

    <script>
        $('.delete_btn').click(function () {
            let id = $(this).parent().attr('project_id')
            $.ajax({
                type: "POST",
                url: '/retail/deleteProject',
                dataType: 'json',
                data: {
                    id
                },
                success: function (data) {
                    console.log('data: ', data);
                    if (data.status === "success") {
                        alert('project deleted')
                        setTimeout(() => {
                            location.reload();
                        }, 2000);

                    } else {
                        alert("There was an error try again")
                    }

                }

            })
        })
    </script>
<%- include('../partials/html_end.ejs') %>