<%- include('../partials/html_start.ejs') %>

    <div>
        <form action="" class="updateProject" project_id="<%=project._id%>">
            <div class="form-group">
                <label for="projectName">Project Name</label>
                <input type="text" class="form-control" id="projectName" value="<%=project.name%>"
                    placeholder="Enter Project Name">
            </div>
            <div class="form-group">
                <label for="projectStyle">Project Style</label>
                <input type="text" class="form-control" id="projectStyle" value="<%=project.style%>"
                    placeholder="Enter Project style">
            </div>
            <button type="submit" class="submit_btn">Update Project -></button>
        </form>
    </div>
    <script>
        $('.updateProject').submit(function (e) {
            e.preventDefault()
            let name = $('#projectName').val()
            let style = $('#projectStyle').val()
            let id = $(this).attr('project_id')
            console.log('id: ', id);
            $.ajax({
                type: "POST",
                url: '/retail/updateProject',
                dataType: 'json',
                data: {
                    name: name,
                    style: style,
                    id: id
                },
                success: function (data) {
                    console.log('data: ', data);
                    if (data.status === "success") {
                        alert('project updated')
                        setTimeout(() => {
                            location.reload();
                        }, 2000);

                    } else {
                        alert("There was an error try again")
                    }

                }

            })
        })
    </script>
    <%- include('../partials/html_end.ejs') %>